@model IEnumerable<BrokerSystem.Models.share_holders>

@{
    ViewBag.Title = "Index";
}

<h2>Shareholders List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
@*        <th>
            share_holder_id
        </th>*@
        <th>
            first_name
        </th>
        <th>
            last_name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
@*        <td>
            @Html.DisplayFor(modelItem => item.share_holder_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
